/* 

repsosive  section expertos

*/

@media (max-width: 1200px) {
	/* .texto-banner h3 {
		font-size: 50px;
	} */

	.texto-banner span{
		font-size: 2rem;
		line-height: 1.5;
	}
	.container-contactanos {
		border-radius: 0px 0px 20px 20px;
	}

	.section-contactanos {
		column-gap: 50px;
	}
	/* .formulario {
		min-width: 325px;
	} */


	.btn-comprar-card{
		width:100%;
		max-width: 160px;
	}
	.estrella{
		right: 2rem;
	}
	.estrella > img{
		width: 3rem;
	}


	.container-cards::-webkit-scrollbar {
		width: 12px;
	}

	.container-cards::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		border-radius: 10px;
	}

	.container-cards::-webkit-scrollbar-thumb {
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
	}
	.splide2 .splide__arrows {
		position: absolute;
		left: -6% !important;
		/* right: 0 !important; */
		bottom: -50% !important;
		justify-content: space-between !important;
		/* transform: translate(5%) !important; */
		top: 70% !important;
	}
	.splide2 .splide__arrow--next {
		top: 90% !important;
	}

	.footer {
		padding: 50px 0 20px 0;
	}
	.container-footer {
		flex-direction: column;
	}
	.footer-icon-link {
		margin-top: 20px;
		width: 100%;
	}
	.container-footer > div {
		margin-bottom: 20px;
	}
	.footer-icon-link ul {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}
}

@media (max-width: 1024px) {
	.texto-banner span{
		width: 100%;
	}
	.container-cards {
	flex-flow: column wrap;
	row-gap: 1rem;
	column-gap: 0rem;
	}
	.card-precio-medio{
		transform: none;
	}
}
@media (max-width: 824px) {
	.title-header {
		font-size: 30px;
	}
	.container-text-contactanos .btn-comprar {
		margin-left: 0;
		margin-top: 20px;
	}

	.banner {
		flex-direction: column;
		align-items: center;
		box-sizing: border-box;
		padding: 50px 20px 100px;
		width: 100%;
	}
	.texto-banner {
		width: 80%;
	}
	.texto-banner h3{
		width: 100%;
	}
	.container-cards {
		justify-content: flex-start;
	}
	.section-contactanos {
		/* flex-direction: column; */
		/* row-gap: 50px; */
		/* padding: 50px 20px; */
		padding: 0px;
	}
	.section-contactanos img {
		/* min-width: auto; */
		width: 90%;
		padding-left: 20px;
	}
	.container-text-contactanos {
		width: 100%;
	}
	.container-text-contactanos h2 {
		margin-bottom: 20px;
	}
	.container-text-contactanos p {
		font-size: 12px;
	}
	.footer {
		flex-direction: column;
		padding: 50px 20px;
		align-items: center;
	}
	.footer-contact {
		width: 60%;
	}
	.footer-icon-link {
		width: 60%;
	}
	.container-cards svg {
		width: 40px;
	}
	.container-cards .svg-icon {
		width: 40px;
	}
	.splide__arrows {
		display: none;
	}
}

@media (max-width: 480px) {
	.title-header {
		font-size: 25px;
	}
	.container-url ul {
		flex-direction: column;
		row-gap: 30px;
	}
	.splide__arrows {
		display: none;
	}
	.texto-banner {
		width: 100%;
	}
	.texto-banner h3 {
		font-size: 60px;
	}
	.group-btn-banner {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: end;
		column-gap: 10px;
	}
	.splide2 .splide__pagination {
		display: none !important;
	}
	.btn-banner-second {
		margin-left: 0;
		margin-top: 20px;
	}
 .container-formulario {
		right:0px;
	}
	/* .formulario {
		width: 100%;
	} */
	.container-contactanos {
		flex-direction: column;
		padding: 50px 0px;
	}
	.section-contactanos img {
		/* min-width: auto; */
		width: 90%;
		padding-left: 0px;
	}
	.section-expertos {
    padding: 50px 0 0px 0;
}
	.container-text-contactanos {
		/* min-width: auto; */
		/* width: 30%; */
		/* font-size: 11px; */
		padding: 30px 0px;
		width: 90%;
	}
	.container-text-contactanos p {
		font-size: 14px;
	}
	.container-text-contactanos .btn-contactanos {
		margin-top: 30px;
	}
	.container-text-contactanos .btn-comprar {
		margin-left: 0;
		margin-top: 20px;
	}

	.container-portafolio-img {
		padding: 0 20px;
	}
	/* .img-portafolio {
		
	} */
	.footer-contact {
		width: 100%;
	}
	.footer-icon-link {
		width: 100%;
	}
	.container-cards {
		/* width: 30px; */
		column-gap: 0;
		padding: 0 20px;
		width: 100%;
		box-sizing: border-box;
	}
	.container-cards svg {
		width: 30px;
	}
	.container-cards .subtitle-card {
		font-size: 12px;
	}
	.card-exp .svg-icon {
		width: 30px;
	}

	.article-portafolio {
		position: absolute;
		top: 67%;
		left: 25px;
	}
	.article-portafolio h3 {
		font-size: 20px;
	}
	.article-portafolio p {
		font-size: 15px;
		width: 100%;
		max-width: none;
	}
}
